# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Eleventy build output
_site/

# Production build artifacts & caches
.turbo/
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env*.local
.env

# Editor & OS files
.DS_Store
Thumbs.db
*.swp
*.swo
