# Dependencies
node_modules/

# Eleventy build output
_site/

# Environment variables & secrets
.env
.env*.local
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.DS_Store
Thumbs.db
*.swp
*.swo
